<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJB7Wa93_0mJ8ORsxhmsXFr8hNXkqKpZc</string>
	<key>GCM_SENDER_ID</key>
	<string>576042190463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2Dars</string>
	<key>PROJECT_ID</key>
	<string>flutter-first-project-464d4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-first-project-464d4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576042190463:ios:d8eedaf68aed94cb19a14a</string>
</dict>
</plist>